<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title> <%=h Settings.site_name %> | <%=h page_title %></title>
<!-- so:meta-tags  -->

<meta name="description" content="<%=h page_description %>" />
<meta name="keywords" content="<%=h page_keywords %>" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="content-language" content="en" />

<meta name="author" content="<%= Settings.site_name %> (<%= request.host %>)" />
<meta name="copyright" content="<%= Time.now.year %>, <%= Settings.site_name %>" />

<meta name="Geo.Country" content="GB" />
<meta name="Geo.Region" content="GB-BST" />
<meta name="Geo.Placename" content="<%= [Settings.town,Settings.county,Settings.region].reject{|p| p.blank? }.join(', ') %>" />

<!-- eo:meta-tags  -->
<link rel="Bookmark" href="<%= request.host %>" title="<%= Settings.site_name %>" />

<!-- so:stylesheets -->
<%= stylesheet_link_tag 'reset', 'typography', 'layout', 'skin', 'forms', 'screen', :media => 'screen,tv,projection', :cache => "main" %>
<%= stylesheet_link_tag 'print', :media=>'print' %>
<%= stylesheet_link_tag 'mobile', :media=>'handheld' %>

<!--[if lte IE 6]><%= stylesheet_link_tag 'ie6', :media=>'screen' %><![endif]-->
<!--[if lte IE 7]><%= stylesheet_link_tag 'ie7', :media=>'screen' %><![endif]-->

<!-- eo:stylesheets -->

<!-- so:javascript  -->

<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
  google.load("jquery", "1.4.1");
  // google.load("swfobject", "2.2");
</script>
<%= javascript_include_tag 'cufon-yui', 'Gotham_Medium_500.font', 'application', :cache => 'global' %>

<!-- eo:javascript  -->

<%= yield :header %>

</head>
<body id="<%= page_id %>" class="<%= page_class %> <%= "comment-#{@comment.commentable.category.permalink}" unless @comment.nil? || @comment.commentable.nil? || @comment.commentable.category.nil?  %>">

  <!-- so:wrap-->
    <div id="wrap">
      
      <!-- so:header -->
        <div id="header">
          <h1 id="site-name"><%= link_to h(Settings.site_name), '/', :id => "logo", :rel => "home" %></h1>
        
          <!-- so:navigation -->
            <ul id="nav">
<% for page in Page.roots.published %>
				<li id="nav-<%= page.permalink %>"><%= link_to page.title, page_path(page.permalink) %></li>
<% end %>
              <li id="nav-article"><%= link_to 'Articles', category_articles_path('flipside') %></li>
          </ul>
          <!-- so:navigation -->
        
        </div>
      <!-- eo:header -->
      
      <!-- so:content --> 
        <div id="content">

<% unless @page.nil? %>
          <div id="breadcrumbs">
            <%= link_to 'Home', root_path %> <%= "/ " unless @page.ancestors.empty? %><%= @page.ancestors.collect{ |a| link_to a.title, page_path(a) }.join(' / ') %> / <strong><%= page_title %></strong>
          </div>
<% end -%>

          <%= flash_messages %>
          <%= yield %>
        </div>     
      <!-- eo:content -->
      
      <!-- so:footer -->
        <div id="footer">
          <%= yield :footer %>
          <p>
            <%= Settings.telephone %><br />
            <a href="mailto:<%= Settings.default_email %>"><%= Settings.default_email %></a>
          </p>
        </div>
      <!-- eo:footer -->
      
    </div>
  <!-- en:wrap -->
  
<!-- so:javascript  -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("<%= Settings.google_analytics_web_property_id %>");
pageTracker._trackPageview();
} catch(err) {}</script>
<!-- eo:javascript  -->

</body>
</html>