<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><%= Settings.site_name %> | <%=h page_title %></title>
<!-- so:meta-tags  -->

<meta name="description" content="<%=h page_description %>" />
<meta name="keywords" content="<%=h page_keywords %>" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="content-language" content="en" />

<meta name="author" content="Beef (www.wearebeef.co.uk)" />
<meta name="copyright" content="<%= Time.now.year %>, Beef Ltd" />

<meta name="Geo.Country" content="GB" />
<meta name="Geo.Region" content="GB-BST" />
<meta name="Geo.Placename" content="Bristol" />
<meta name="Geo.Position" content="51.4619;-2.593" />

<!-- eo:meta-tags  -->
<link rel="Bookmark" href="http://www.wearebeef.co.uk/" title="Beef" />

<!-- so:stylesheets -->
<%= stylesheet_link_tag 'reset', 'typography', 'layout', 'skin', 'forms', :cache => 'screen', :media=>'screen,tv,projection' %>

<%= stylesheet_link_tag 'print', :media=>'print' %>
<%= stylesheet_link_tag 'mobile', :media=>'handheld' %>

<!--[if IE]><link href="/stylesheets/ie.css" media="screen" rel="Stylesheet" type="text/css" /><![endif]-->
<!--[if IE 6]><link href="/stylesheets/ie6.css" media="screen" rel="Stylesheet" type="text/css" /><![endif]-->

<!-- eo:stylesheets -->

<%= yield :header %>

</head>
<body id="<%= page_id %>" class="<%= page_class %>">
<!-- so:screen -->
<div id="page">
	<!-- so:header -->
	<div id="header">
	  <a id="skip" href="#content-area">Skip to content</a>
	  
	  <h1><a href="/" id="logo"><%= Settings.site_name %></a></h1>
  	<!-- so:navigation -->
  	<ul id="navigation">
  		<li id="home-nav"><a href="/" title="Home" >Home</a></li>
  	</ul>
  	<!-- eo:navigation -->
  </div>
	<!-- eo:header -->
	
	<div id="content-area">
  <%= flash_messages %>
	<%= yield %>
	</div>
	
  <!-- so:footer -->
	<div id="footer">
  &copy; Copyright <%= Time.now.year %> <%= Settings.site_name %> &bull; <%= [Settings.house_number,Settings.street,Settings.district,Settings.town,Settings.county,Settings.region,( link_to Settings.postcode, "http://maps.google.co.uk/?q=#{Settings.postcode}")].reject{|e| e.blank? }.join(' ') %> &bull; <%= Settings.telephone %> 
  	<a href="http://www.wearebeef.co.uk" id="beef-logo">With &hearts; from Beef</a>
</div>
  <!-- eo:footer -->
	
</div>


<!-- so:javascript  -->
<%= javascript_include_tag 'prototype', 'effects', 'application', :cache => 'front' %>
<% unless Settings.google_analytics_web_property_id.blank? %>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("<%= Settings.google_analytics_web_property_id %>");
pageTracker._trackPageview();
</script> 
<% end -%>
<!-- eo:javascript  -->
</body>
</html>

