<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title> <%=h Settings.site_name %> | <%=h page_title %></title>
<!-- so:meta-tags  -->

<meta name="description" content="<%=h page_description %>" />
<meta name="keywords" content="<%=h page_keywords %>" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="content-language" content="en" />

<meta name="author" content="Beef (www.wearebeef.co.uk)" />
<meta name="copyright" content="<%= Time.now.year %>, Beef Ltd" />

<meta name="Geo.Country" content="GB" />
<meta name="Geo.Region" content="GB-BST" />
<meta name="Geo.Placename" content="Bristol" />
<meta name="Geo.Position" content="51.4619;-2.593" />

<!-- eo:meta-tags  -->
<link rel="Bookmark" href="http://www.wearebeef.co.uk/" title="Beef" />

<!-- so:stylesheets -->
<%= stylesheet_link_tag 'wireframe/main', 'wireframe', :media => 'screen,tv,projection' %>
<!-- replace with 'reset', 'typography', 'layout', 'skin', 'forms' and ad  :cache => "main" when you start styling -->
<%= stylesheet_link_tag 'wireframe/print', :media=>'print' %>
<!-- remove with 'wireframe/' when you start styling -->
<%= stylesheet_link_tag 'mobile', :media=>'handheld' %>

<!--[if lte IE 6]>
<%= stylesheet_link_tag 'wireframe/ie6', :media=>'screen' %>
<![endif]-->
<!--[if lte IE 7]>
<%= stylesheet_link_tag 'wireframe/ie7', :media=>'screen' %>
<![endif]-->
<!-- remove with 'wireframe/' when you start styling -->
<!-- eo:stylesheets -->

<!-- so:javascript  -->
<script src="http://www.google.com/jsapi"></script>
<script>
  // Load jQuery
  google.load("jquery", "1.3.2");
  // google.load("swfobject", "2.2");
</script>
<%= javascript_include_tag 'application', :cache => 'global' %>
<!-- eo:javascript  -->

<%= yield :header %>

</head>
<body id="<%= page_id %>" class="<%= page_class %>">
  <div id="type-b">
  <!-- so:screen -->
    <div id="wrap">  
      <div id="header">
        <h1 id="site-name"><%= link_to h(Settings.site_name), '/', :id => "logo", :rel => "home" %></h1>
        <ul id="nav">
          <li><%= link_to "Page one" %></li>
          <li><%= link_to "Page two" %></li>
          <li><%= link_to "Page three" %></li>
        </ul>
      </div>
      <div id="content-wrap">
    
        <div id="content">
          <div id="breadcrumb">
            <%= link_to 'Home', root_path %> / <strong><%= page_title %></strong>
          </div>
          <%= flash_messages %>
          <%= yield %>
        </div>
  
      </div><!-- en:content-wrap -->

      <div id="footer">
        <%= yield :footer %> 
        <ul id="footer-nav">
          <li><%= link_to "Page one" %></li>
          <li><%= link_to "Page two" %></li>
          <li><%= link_to "Page three" %></li>
        </ul>
        <div class="vcard">
          &copy; <%= Time.now.year %> <span class="fn org"><%=h Settings.site_name %></span> |
          <span class="email"><a href="mailto:<%=h Settings.default_email %>" title="e-mail us"><%=h Settings.default_email %></a></span>
        </div><!-- eo:vcard -->
      </div><!-- eo:footer -->
    </div><!-- en:wrap -->
  </div><!-- en:page-type -->
</body>
</html>

